* {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(#51f930c9, #86f16c, #9dff79, #fff2f2) */
  background-color: #493545;
}

.iconbar {
  position: relative;
  background: #32202f;
  height: 98%;
  width: 50px;
  border-radius: 10px;

  margin: 5px;
}

.iconbar li {
  list-style: none;
  cursor: pointer;
  margin: 29px 14px;
  color: rgb(209, 212, 238);
}
.iconbar li:hover {
  color: rgb(120, 120, 124);
}

.motherdiv {
  position: relative;
  width: 1300px;
  max-width: 100%;
  height: calc(100vh - 40px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0, 0, 06),
    0 2px 5px 0 rgba(0, 0, 0, 0, 0, 06);
  display: flex;
  border-radius: 5px;
  box-shadow: 3px 3px 6px black;
  /* background: #6f6a6a; */
  background-image: url(../../public/images/bac.jfif);
}

.right {
  position: relative;
  max-width: 28%;
  min-width: 265px;
  flex: 28%;
  background: #d3d3d3;
  border-left: 1px solid rgba(0, 0, 0, 0, 0, 2);
  margin: 5px;
  border-radius: 15px;
}

.left {
  position: relative;
  flex: 70%;
  min-width: 500px;
  border-radius: 15px;
  margin: 5px;
  display: none;
  transition: 3s;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  background: #32202f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 15px 15px 0 0;
  color: #ecdfe5;
}
.userimg {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 25%;
  background: wheat;
  cursor: pointer;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon,
#close,
#delet_user {
  display: flex;
  color: #8b8b8b;
}
#close:hover ,
#delet_user:hover {
  color: #bdbaba;
}

.icon li {
  display: flex;
  list-style: none;
  cursor: pointer;
  /* color: red; */
  font-size: 1.5em;
  margin-left: 10px;
}

.chatlist {
  position: relative;
  height: calc(100% - 50px);
  overflow-y: auto;
  background: #d3d3d3;
  border-left: 1px solid gray;
  border-radius: 0 0 15px 15px;
}
.chatlist .block {
  position: relative;
  width: calc(100% - 10px);
  min-width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background: #e6e6fa;
  border-radius: 15px;
  padding: 5px 2px;
  margin: 5px;
  box-shadow: 3px 3px 6px black;
}

.chatlist .block:hover {
  background: #d3d3d3;
}

.chatlist .block .imgbox {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10px;
  background: wheat;
}
.motherdiv .block .detalis {
  position: inherit;
  width: 100%;
}
.motherdiv .block .detalis .listhead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.motherdiv .block .detalis .listhead h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: black;
  padding-right: 10px;
}
.motherdiv .block .detalis .listhead .time {
  font-size: 0.75em;
  color: #aaa;
}
.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message p {
  color: #aaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.message b {
  background: greenyellow;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}
.textimg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textimg h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin-right: 15px;
}
.textimg h4 span {
  font-size: 0.8em;
  color: #555;
}
.messagebox {
  position: relative;
  width: 100%;
  height: calc(100% - 110px);
  padding: 10px;
  overflow-y: auto;
  background: #9facac;
}
.messagee {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
}
.messagee p {
  position: relative;
  right: 0;
  text-align: right;
  max-width: 85%;
  max-height: 100%;
  padding: 8px;
  background: #ccccff;
  border-radius: 10px;
  font-size: 0.9em;
  text-overflow: ellipsis;
  box-shadow: 3px 3px 6px black;
}
/* .messagee p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(235deg,#77dd77 0%,#77dd77 50%, transparent 50%,transparent);
} */
.messagee p span {
  display: block;
  margin-top: 5px;
  font-size: 0.85em;
  opacity: 0.5;
}
.sel {
  justify-content: flex-end;
}
.sel p {
  border-top-left-radius: 0%;
}

.get {
  justify-content: flex-start;
}
.get p {
  background: #ffe4c4;
  border-top-right-radius: 0%;
}
/* .get p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #00ff80 0%,#00ff80 50%, transparent 50%,transparent);
} */
.chatbox {
  position: relative;
  width: 100%;
  height: 60px;
  background: #808080;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 0 0 15px 15px;
}
.chatbox li {
  list-style: none;
}
.chatbox li :hover {
  color: #9c9c9c;
}
.chatbox li i {
  cursor: pointer;
  font-size: 1.8em;
  color: #030303;
}

.chatbox input {
  position: relative;
  width: 90%;
  margin: 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1em;
}
#seting,
#add {
  cursor: pointer;
  color: #808080;
}
#seting,
#add:hover {
  cursor: pointer;
  color: #5f5e5e;
}

/* -------------modal----------------- */

#modal,
#modal_update,
#massege_modal,
#delit_acunt,
#delit_modal{
  display: none;
  position: fixed;
  background: #686871;
  width: 220px;
  height: 219px;
  margin: 200px 299px;
  padding: 10px;
  z-index: 1;
  border-radius: 15px;
}

#modal_update {
  display: none;
  position: fixed;
  background: #686871;
  width: 220px;
  height: 219px;
  margin: 200px 299px;
  padding: 10px;
  z-index: 1;
  border-radius: 15px;
}
#massege_modal_p{
  overflow: hidden;
}
#modal_update .edit_username {
  display: none;
}

#modal_update .edit_form {
  display: block;
}
/* ============================================ */
/* scrollbar*/

::-webkit-scrollbar {
  width: 1vw;
}

/* ::-webkit-scrollbar-track{
    background-color: #d4d4d4;
    border-radius: 5px;
} */

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
  border-radius: 5px;
}

#username::-webkit-inner-spin-button,
#username::-webkit-outer-spin-button {
  -webkit-apperance: none;
}
#setings {

  height: calc(100% - 10px);
  width: 202px;
  display: flex;
  text-align: center;
  background: #635e5e;
  border-radius: 15px;
  margin: 5px;
  display: none;

}

#s_img {

  width: 194px;
  height: 100px;
  display: inline-flex;
  position: relative;
  margin: 5px;
  border-radius: 12px;
}

#setings ul {

  position: fixed;
  list-style: none;
  margin-right: 5px;
}

#setings ul li {
  width: 180px;
  height: 30px;
  text-align: right;
  margin: 5px;
  border-bottom: 0.5px solid;
  cursor: pointer;
  background: #676767;
  border-radius: 5px;

}

#setings ul li:hover {
  background: silver;
}
